.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  margin-top: 80px;
  color: #1b2659;
}
body {
  background: linear-gradient(#1d2b64, #f8cdda);
  height: 1000px;
}

select {
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  font-size: 62px;
  letter-spacing: 1px;
  font-family: "Raleway", serif;
}

.home {
  font-family: "Raleway", serif;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.city {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", serif;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-align: left;
}

.time {
  font-size: 48px;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10px;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.5px;
  display: flex;
  margin-bottom: 10px;
}
.footer {
  text-align: center;
  font-size: 14px;
  font-weight: 200px;
  padding: 20px;
  font-family: "Raleway", serif;
  color: #716991;
}
